{% extends "base.html" %}

{% block extra_js %}
{% endblock %}


{% block bodyclass %}payment{% endblock %}

{% block content %}

  <form action="" method="post">
    {% csrf_token %}

    <article>
      <label>
        <span>Amount is $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ publishable_key }}"
            data-description="A Flask Charge"
            data-amount="500"></script>

    <input type="hidden" name="stripe_token" />
  </form>

{% endblock%}
