{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript">

    var post_url = "/api/reminders/";

</script>
{% endblock %}

{% block content %}
<div id="content">
    <header class="content_header">

        <h1>You need a subscription</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing ept, sed do eiusmod tempor incididunt ut labore et dolore magna apqua.</p>

        <br />
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>

        <p><a href="/payments/subscribe" class="submit">Subscribe Now</a></p>
    </header>

</div>

<div class="success-message">
    <p><strong>Thanks!</strong> Your reminders have been successfully set up.</p>
</div>

{% endblock %}

